<clr-vertical-nav>
    <a clrVerticalNavLink routerLinkActive="active">Charizard</a>
    <a clrVerticalNavLink  routerLinkActive="active">Charmander</a>
    <a clrVerticalNavLink  routerLinkActive="active">Jigglypuff</a>
    <a clrVerticalNavLink  routerLinkActive="active">Pidgey</a>
    <a clrVerticalNavLink  routerLinkActive="active">Pikachu</a>
    <a clrVerticalNavLink routerLinkActive="active">Raichu</a>
    <a clrVerticalNavLink  routerLinkActive="active">Snorlax</a>
    <div class="nav-divider"></div>
    <a clrVerticalNavLink routerLinkActive="active">Credit</a>
  </clr-vertical-nav>